.chat-link {
    background-color: white;
    border-bottom: 1px solid rgb(234, 239, 241);
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.chat-link div.name {
    flex: 1;
}

.chat-link .icon {
    height: 100%;
    font-size: 20px;
    color: hsl(347, 51%, 55%);
}

.chat-link .icon:hover {
    color: rgb(174, 57, 82);
}

.chat-link:hover {
    background-color: rgb(243, 245, 245);
}

.chat-link.selected {
    border-left: 3px solid skyblue;
}

.chat-link .num-new-messages {
    font-size: 11px;
    border-radius: 50%;
    padding: 1px 6px;
    color: white;
    background-color: cornflowerblue;
    aspect-ratio: 1/1;
    align-self: center;
}