.chat-desc {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 5px;
    z-index: 10;
}

.chat-icon {
    background-color: rgb(234, 239, 241);
    border-radius: 50%;
    color: #3b5998;
    padding: 2px;
    font-size: 20px;
}

.chat-desc span {
    cursor: pointer;
}

.chat-desc .leave-icon {
    margin-right: auto;
    cursor: pointer;
    color: #5782e0;
    font-size: 20px;
}

.chat-desc .leave-icon:hover {
    color: #3b5998;
}

@media only screen and (max-width: 600px) {
    .chat-desc {
        padding-right: 35px;
    }
}
