.chat-details {
    background-color: white;
    z-index: 11;
    padding: 10px;
    flex: 1;
}

img {
    width: 150px;
    border-radius: 50%;
}

h3 {
    color: #3b5998;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

.back-icon {
    transform: scaleX(-1);
    color: #3b5998;
    cursor: pointer;
    font-size: 20px;
}

.details-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members {
    display: flex;
    flex-direction: column;
}

.group-members {
    display: flex;
    flex-direction: column;
    border-top: 1px solid skyblue;
    max-height: 180px;
    overflow-y: scroll;
}

.chat-details form {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-details form input {
    flex: 1;
    font-family: inherit;
    padding: 5px;
}

.chat-details form button {
    font-size: inherit;
    background: none;
    border: none;
}

.chat-details .icon {
    color: rgb(42, 220, 160);
    font-size: 20px;
    cursor: pointer;
}

.chat-details .icon:hover {
    color: rgb(19, 185, 130);
}

@media only screen and (max-width: 765px) {
    .chat-details {
        padding-right: 35px;
    }
}